
{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
<article class="{{post_class}} blog-list__item">
  <div class="blog-list__item__meta">
      {{tags suffix=" • "}}
      <time class="blog-list__item__date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM DD YYYY"}}</time>
  </div>
  <h2 class="blog-list__item__title"><a href="{{url}}">{{title}}</a></h2>
</article>
{{/foreach}}
