{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- If we have a tag cover, display that - else blog cover - else nothing --}}
<header class="header-tag">
  {{#tag}}
    <div class="page-header">
      <h1 class="page-header__title">{{name}} Posts</h1>
      <h2 class="page-header__desc">
        {{#if description}}
          {{description}}
        {{else}}
          There are {{../pagination.total}} posts in this collection.
        {{/if}}
      </h2>
    </div>
  {{/tag}}
</header>

{{!-- The main content area on the homepage --}}
<main class="main-content" role="main">

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    <div class="blog-list">
      {{> "loop"}}
    </div>

    <div class="pagination-wrapper">
      {{pagination}}
    </div>
</main>
